<!DOCTYPE html>
<html lang="es">

	<!-- Head -->
	<%- include('./partials/head') %> 
	<!-- /Head -->

<body>

	<!-- Header -->
	<% if (locals.user) { %>
		<%- include('./partials/headerLogueado') %>
	<% } else { %>
		<%- include('./partials/header') %>
	<% } %>
	<!-- /Header -->

	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"> <%= flores.productName %> </h2>

			<% if(locals.user && locals.user.id == flores.userId) { %>
				<a class="boton-editar-product ml-4" href="/product/edit/<%= flores.id %>">Editar</a>
				
				<form action="/product/delete/<%= flores.id %>" method="POST">
					
				
				<button type="submit" class="boton-editar-product ml-4"> Borrar </button>

				</form>	
			<% } %>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/<%= flores.image %>" alt="" class="product-detail-img">
					<p class="product-detail-description">
						<%= flores.description %>
					</p>
					<p class="products-upload-name"> Producto cargado por <a href="/profile/id/<%= flores.user.id %>"><%= flores.user.nombre %> <%= flores.user.apellido %></a>  </p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">

						<% for(let i=0; i < flores.comments.length ; i++){ %>
						<article>
							<img src="/images/users/marce.jpg" alt="">
							<div class="data">
								<p class="user">
								<strong> <a href="/profile/id/<%= flores.comments[i].userId %>"> <%= flores.comments[i].user.nombre %> <%= flores.comments[i].user.apellido %>: </a> </strong>
								<%= flores.comments[i].text %>
								</p>
							</div>
						</article>
						<% } %>

						<!-- <article>
							<img src="/images/users/marce.jpg" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/profile/id/2"> Marcelo Tinelli: </a> </strong>
									El producto es de tremenda calidad! Lastima el vendedor que ademas de que se demoro en despacharlas ni respondia a mis preguntas una vez pague.
								</p>
							</div>
						</article>
						<article>
							<img src="/images/users/d10s.jpg" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/profile/id/3"> Lionel Messi:</a> </strong>
									Estas flores son un 10, como yo. Suerte que está Merca Do Flores en el barrio para salvar mi matrimonio con Anto.
								</p>
							</div>
						</article>
						<article>
							<img src="/images/users/peludo2.jpg" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/profile/id/4"> Hagrid:</a> </strong>
									En mi jardín tengo unas parecidas a estas. La calidad es así como se muestra en la foto? O después voy a tener que usar una poción Fertilizante?
								</p>
							</div>
						</article>
						<article>
							<img src="/images/users/kiko.jpg" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/profile/id/5"> KIko Zoona SUUr:</a> </strong>
									AlTas FlooRes Wacchoo! rOJAS como ell amohor de mii vidaa, NEWELLS! no tengO nAda de KE quejarme, sOLO puedO DEcir VAMMMOO NEWELLS!!!!!
								</p>
							</div>
						</article> -->
					</section>

					<% if(locals.user) { %>
					<form class="form" action="/product/addComment/<%= flores.id %>" method="POST">
						<input class="form-input" type="text" value="" name="text" placeholder="Agregar comentario">
						
						    <!-- <p>
							<label for="productId"> Producto que se comenta:</label>
							<input type="number" name="productId" value="">
							</p>
		
							<p>
							<label for="userId"> Usuario que comenta:</label>
							<input type="number" name="userId" value="">
							</p> -->
					
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>

					<% } else { %>
					<p class="xComment">Para comentar tenes que <a class="xComment2" href="/register">registrarte</a> o <a class="xComment2" href="/login">iniciar sesión</a></p>
					<% } %>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer') %> 
	<!-- /footer -->

</body>	
</html>