<!DOCTYPE html>
<html lang="es">

	<!-- Head -->
	<%- include('./partials/head') %> 
	<!-- /Head -->

<body>

	<!-- Header -->
	<% if (locals.user) { %>
		<%- include('./partials/headerLogueado') %>
	<% } else { %>
		<%- include('./partials/header') %>
	<% } %>
	<!-- /Header -->

	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"> <%= flores.productName %> </h2>

			<% if(locals.user && locals.user.id == flores.userId) { %>
				<a class="boton-editar-product ml-4" href="/product/edit/<%= flores.id %>">Editar</a>

				<script language="JavaScript">
					function pregunta(){
						if (confirm('¿Estás seguro de que querés eliminar tu producto? No vas a poder volver atrás.')){
						   document.deleteForm.submit()
						}
					}
				</script>
				
				<form name="deleteForm" action="/product/delete/<%= flores.id %>" method="POST">
				
					<input type="button" onclick="pregunta()" class="boton-eliminar-product ml-4" value="Eliminar producto">

				</form>	
				
			<% } %>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/<%= flores.image %>" alt="" class="product-detail-img">
					<p class="product-detail-description">
						<%= flores.description %>
					</p>
					<p class="products-upload-name"> Producto cargado por <a href="/profile/id/<%= flores.user.id %>"><%= flores.user.nombre %> <%= flores.user.apellido %></a>  </p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">

						<% for(let i=0; i < flores.comments.length ; i++){ %>
						<article>
							<img src="/images/users/<%= flores.comments[i].user.image %>" alt="">
							<div class="data">
								<p class="user">
								<strong> <a href="/profile/id/<%= flores.comments[i].userId %>"> <%= flores.comments[i].user.nombre %> <%= flores.comments[i].user.apellido %>: </a> </strong>
								<%= flores.comments[i].text %>

								<% if(locals.user && locals.user.id == flores.comments[i].userId) { %>

								<form action="/product/deleteComment/<%= flores.comments[i].id %>" method="POST" onsubmit="return confirm('¿Estás seguro de que querés eliminar tu comentario? No vas a poder volver atrás.')">
									
								<input type="submit" class="comment-button" value="">

								</form>

								<% } %>
								</p>
							</div>
						</article>
						<% } %>
						
					</section>

					<% if(locals.user) { %>
					<form class="form" action="/product/addComment/<%= flores.id %>" method="POST">

						<input class="form-input" type="text" value="" name="text" placeholder="Agregar comentario">
					
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>

					</form>

					<% } else { %>
					<p class="xComment">Para comentar tenes que <a class="xComment2" href="/register">registrarte</a> o <a class="xComment2" href="/login">iniciar sesión</a></p>
					<% } %>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer') %> 
	<!-- /footer -->

</body>	
</html>